{% set unit_parts_ul = 'fas_unit_parts_ul' %}
{% set vehicle_ul = 'fas_vehicle_ul' %}

{% form_theme form 'MorusFasBundle:Statement:layout.html.twig' %}

{% javascripts 
    '@MorusFasBundle/Resources/public/js/jquery-1.9.1.min.js'
    '@MorusFasBundle/Resources/public/js/jquery-ui.min.js'
    '@MorusFasBundle/Resources/public/js/jquery.inputmask.js'
    '@MorusFasBundle/Resources/public/js/jquery.inputmask.numeric.extensions.js'
%}
    <script type="text/ecmascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
    
<script type='text/javascript'>
    var $unitPartsCollectionHolder;
    var $addUnitPartsLink = $('<a href="#" class="add_link">{{ 'btn.add_new_product_discount'|trans }}</a>');
    var $newUnitPartsLinkLi = $('<li></li>').append($addUnitPartsLink);
    
    jQuery(document).ready(function() {
       $('#copy_postal').on('click', function(event){
           event.preventDefault();
           $('#fas_unit_locations_1_attention').val($('#fas_unit_locations_0_attention').val());
           $('#fas_unit_locations_1_address').val($('#fas_unit_locations_0_address').val());
           $('#fas_unit_locations_1_city').val($('#fas_unit_locations_0_city').val());
           $('#fas_unit_locations_1_state').val($('#fas_unit_locations_0_state').val());
           $('#fas_unit_locations_1_zipCode').val($('#fas_unit_locations_0_zipCode').val());
           $('#fas_unit_locations_1_country').val($('#fas_unit_locations_0_country').val());
           
       }); 
    });
    // Add Parts Discount Functions
    jQuery(document).ready(function() {
        
        // Get the ul that holds the collection of tags
        $unitPartsCollectionHolder = $('ul[id={{ unit_parts_ul }}');
        
        // add the "add a tag" anchor and li to the tags ul
        $unitPartsCollectionHolder.after($addUnitPartsLink);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $unitPartsCollectionHolder.data('index', $unitPartsCollectionHolder.find(':input').length);

        $addUnitPartsLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            
            // add a new tag form (see next code block)
            addUnitPartsForm($unitPartsCollectionHolder, $newUnitPartsLinkLi);
        });
        
        // add a delete link to all of the existing tag form li elements
        $unitPartsCollectionHolder.find('li').each(function() {
            addUnitPartsFormDeleteLink($(this));
        });
    });
    
    function addUnitPartsForm($unitPartsCollectionHolder, $newUnitPartsLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $unitPartsCollectionHolder.data('prototype');

        // get the new index
        var index = $unitPartsCollectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $unitPartsCollectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li></li>').append(newForm);
        
        addUnitPartsFormDeleteLink($newFormLi);
        
        $unitPartsCollectionHolder.append($newFormLi);
    }
    
    function addUnitPartsFormDeleteLink($unitPartsFormLi) {
        var $removeFormA = $('<a href="#">X</a>');
        $unitPartsFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $unitPartsFormLi.remove();
        });
    }
    
    
    
    var $vehicleCollectionHolder;
    var $addVehicleLink = $('<a href="#" class="add_link">{{ 'btn.add_new_vehicle'|trans }}</a>');
    var $newVehicleLinkLi = $('<li></li>').append($addVehicleLink);
    
    // Add Parts Discount Functions
    jQuery(document).ready(function() {
        
        // Get the ul that holds the collection of tags
        $vehicleCollectionHolder = $('ul[id={{ vehicle_ul }}');
        
        // add the "add a tag" anchor and li to the tags ul
        $vehicleCollectionHolder.after($addVehicleLink);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $vehicleCollectionHolder.data('index', $vehicleCollectionHolder.find(':input').length);

        $addVehicleLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addVehicleForm($vehicleCollectionHolder, $newVehicleLinkLi);
        });
        
        // add a delete link to all of the existing tag form li elements
        $vehicleCollectionHolder.find('li').each(function() {
            addVehicleFormDeleteLink($(this));
        });
    });
    
    function addVehicleForm($vehicleCollectionHolder, $newVehicleLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $vehicleCollectionHolder.data('prototype');

        // get the new index
        var index = $vehicleCollectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $vehicleCollectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li></li>').append(newForm);
        
        addVehicleFormDeleteLink($newFormLi);
        $vehicleCollectionHolder.append($newFormLi);
    }
    
    function addVehicleFormDeleteLink($vehicleFormLi) {
        
        var $removeFormA = $('<a href="#">X</a>');
        $vehicleFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $vehicleFormLi.remove();
        });
    }
</script>

<div id="container-box" class="contact-new">
    <div class="section-form inset form">
        {{ form_start(form) }}
            {{ form_errors(form) }}
                {# Division to hold licence numbers #}
                <div class="field long">
                    <label>{{ 'contact.display_name'|trans }}</label>
                    {{ form_widget(form.name) }} {{ form_errors(form.name) }}
                </div>

                <div id="entity_persons" data-prototype-persons="">
                    {% for person in form.persons %}
                        {% if loop.index == 1 %}
                            <h4>{{ 'contact.primary_person'|trans }}</h4>
                        {% endif %}
                        <div id="entity_person_contacts" data-prototype-contacts="">
                            <fieldset>
                                {{ form_widget(person) }}
                                {% for contact in person.contacts %}
                                    <div class="field inline long">{{ form_widget(contact) }}</div>
                                {% endfor %}
                            </fieldset>
                        </div>
                    {% endfor %}
                </div>

                <div class="column">
                    {% for location in form.locations %}
                        {{ form_widget(location) }}
                    {% endfor %}
                    <div class="col-1-3 last">
                        <fieldset id="numbers">
                            <h6>{{ 'contact.others'|trans }}</h6>
                            {% for contact in form.contacts %}
                                <div class="field">{{ form_widget(contact) }}</div>
                            {% endfor %}
                        </fieldset>
                    </div>

                </div>

                <div>
                    {{ 'contact.vehicle_list'|trans }} :
                    <ul id="{{ vehicle_ul }}" data-prototype="{{ form_widget(form.vehicles.vars.prototype)|e }}">
                        {% for vehicle in form.vehicles %}
                        <li>{{ 'contact.registration_number'|trans }} {{ form_widget(vehicle.registrationNumber) }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div>
                    {{ 'contact.product_discount'|trans }} :
                    <ul id="{{ unit_parts_ul }}" data-prototype="{{ form_widget(form.unitParts.vars.prototype)|e }}">
                        {% for up in form.unitParts %}
                            <li>{{ 'contact.product'|trans }} {{ form_widget(up.parts) }} {{ 'contact.discount'|trans }} {{ form_widget(up.discount) }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>