{% extends '::base.html.twig' %}

{# Step 2 #}
{% set prod_dlg_btn_prfx = 'fas_inv_dlg_btn_' %}
{% set prod_dlg_btn_id = prod_dlg_btn_prfx ~ '%itemcode%_%index%' %}
{% set prod_dlg_idx_id = 'fas_inv_dlg_idx' %}
{% set prod_dlg_div_id = 'fas_inv_dlg_div' %}
{% set prod_new_div = 'fas_new_div' %}
{% set prod_list_div_id = 'fas_prod_div' %}
{% set prod_new_tbl_id = 'fas_prod_new_tbl' %}
{% set prod_db_tbl_id = 'fas_prod_db_tbl' %}

{# Step 3 #}
{% set vec_btn = 'fas_vec_btn' %}
{% set cust_combo = 'fas_vec_dlg_cust_combo' %}
{% set vec_select_all = 'fas_vec_select_all' %}
{% set cust_dlg = 'fas_cust_dlg' %}
{% set cust_vec_list_div = 'fas_vec_list_div' %}

{# Step 4 #}
{% set fas_sam_tab = 'fas_sam_tab' %}
{% set tab_pl = 'fas_tab_pl' %}
{% set tab_exp_dtl = 'fas_tab_dtl_sam' %}

{% block stylesheets %}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    {% stylesheets '@MorusFasBundle/Resources/public/css/jquery-ui.min.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts 
        '@MorusFasBundle/Resources/public/js/jquery-1.9.1.min.js'
        '@MorusFasBundle/Resources/public/js/jquery-ui.min.js'
        '@MorusFasBundle/Resources/public/js/jquery.inputmask.js'
        '@MorusFasBundle/Resources/public/js/jquery.inputmask.numeric.extensions.js'
    %}
        <script type="text/ecmascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type='text/javascript'>
    {% if flow.getCurrentStepNumber() == 2 %}
        // ==========================================
        // New Product JQuery Function
        // ==========================================
        var $prodDlg //Dialog Box
        var $prodForm // Product Form
        
        jQuery(document).ready(function() {
            $prodDlg = $( "#{{ prod_dlg_div_id }}" );
            $prodForm = $('#{{ parts_form.vars.attr.id }}');
            
            refreshProductList();
            
            // Init New Product Dialog Box
            $prodDlg.dialog({
                autoOpen: false, height: 200, width: 500, modal: true,
                buttons: {
                    "{{ 'btn.save'|trans }}": function() {
                        var btn_id = $prodDlg.data('btn_id');
                        postProdForm( $prodForm, function( response ) {
                            if (response.success) {
                                $('button[id="' + btn_id + '"]').replaceWith(
                                    {% image '@MorusFasBundle/Resources/public/images/ok_icon_16x16.png' %}
                                        "<img src='{{ asset_url }}' alt='OK' style='width: 16px'/>"
                                    {% endimage %}
                                );
                                refreshProductList();
                                $prodDlg.dialog( "close" );
                            } else {
                                alert('Error adding product to database, please try again.');
                            }

                        });
                    },
                    "{{ 'btn.cancel'|trans }}": function() {
                        $prodDlg.dialog( "close" );
                    }
                },
                show: { effect: "fade", duration: 500 },
                hide: { effect: "fade", duration: 500 }
            });
            
            // Add New Item button
            $( 'button[id^="{{ prod_dlg_btn_prfx }}"]' ).on('click', function( event ){
                event.preventDefault();
                
                var index = this.id.substring(this.id.lastIndexOf('_') + 1);
                var itemcode = this.id.replace("{{ prod_dlg_btn_prfx }}","").replace('_' + index, "" );
                var itemname = this.name;
                $prodForm.find('#{{ prod_dlg_idx_id }}').val(index);
                $prodForm.find('#{{ parts_form.itemcode.vars.id }}').val(itemcode);
                $prodForm.find('#{{ parts_form.itemname.vars.id }}').val(itemname);
                $prodForm.find('#{{ parts_form.defaultDiscount.vars.id }}').val('');
                
                $prodDlg.data('btn_id', this.id)
                        .dialog( "open" );
            });
            
            // Apply input mask to default discount box
            $('#{{ parts_form.defaultDiscount.vars.id }}').inputmask("decimal", { 
                radixPoint: ".", groupSeparator: ",", groupSize: 3, digits: 2,
                autoGroup: true, placeholder: "0.00"
            });
        });
        
        // Post Form and get result
        function postProdForm( $form, callback ){

            // Get all form values
            var values = {};
            var index = $form.find('#{{ prod_dlg_idx_id }}').val();
            values['index'] = index;
            $.each( $form.serializeArray(), function(i, field) {
              values[field.name] = field.value;
            });

            // Throw the form values to the server
            $.ajax({
                type        : $form.attr( 'method' ),
                url         : $form.attr( 'action' ),
                data        : values,
                success     : function(response) {
                    callback( jQuery.parseJSON(response) );
                }
            });
        }
        
        // Make Ajax Call to refresh Customer Vehicle List 
        function refreshProductList() { 
            var parts = {};
                
            {% for key, value in flow.stmtProd %}
            parts['{{ key }}'] = '{{ value }}';
            {% endfor %}

            var values = {};
            values['parts'] = parts;

            $.ajax({
                url         : "{{ path('morus_fas_statement_export_parts_list')}}",
                type        : "GET",
                data        : values,
                success     : function(data) {
                    $('#{{ prod_list_div_id }}').html(data);
                }
            });
        }
        
    {% elseif flow.getCurrentStepNumber() == 3 %}
        var $vecBtn // Trigger update customer form button
        var $custDlg; // Update customer dialog box
        var $custCombo; //Customer Combo Box
        var $custVecListDiv; // Registered Vehicle List
        
        // ==========================================
        // Assign Vehicle JQuery Function
        // ==========================================
        jQuery(document).ready(function() {
            $vecBtn = $( '#{{ vec_btn }}');
            $custCombo = $( '#{{ cust_combo }}');
            $custDlg = $('#{{ cust_dlg }}');
            $custVecListDiv = $('#{{ cust_vec_list_div }}');
            
            refreshCustomerVehicleList();
            refreshComboBox();
            
            
            
            // Update customer dialog box
            $custDlg.dialog({ 
                autoOpen: false, height: 600, width: 900, modal: true,
                buttons: {  
                    "{{ 'btn.save'|trans }}": function() {
                        var action = $custDlg.data('ACTION');
                        postCustomerUpdateForm(action, $custDlg.find('form'), function(response){
                            if (response.success) {
                                var deleted = response.deletedLicences;
                                var updated = response.updatedLicences;
                                
                                $.each(updated, function(key, value){
                                    $('input[id="'+value+'"]').replaceWith(
                                        {% image '@MorusFasBundle/Resources/public/images/ok_icon_16x16.png' %}
                                            "<img src='{{ asset_url }}' alt='OK' style='width: 16px'/>"
                                        {% endimage %}
                                    );
                                });
                                
                                refreshCustomerVehicleList();
                                refreshComboBox();
                                $custDlg.dialog( "close" );
                            } else {
                                alert('Error');
                            }
                        });
                    },
                    "{{ 'btn.cancel'|trans }}": function() {
                        $custDlg.dialog( "close" );
                    }
                },
                show: { effect: "fade", duration: 500 },
                hide: { effect: "fade", duration: 500 }
            });

            // New Unit Popup Button
            $vecBtn.on('click', function(event){
                event.preventDefault();
                
                // Get selected customer option, either customer id or "NEW"
                var comboboxValue = $custCombo.find(":selected").prop('value');
                
                //  Get selected licences
                var licAry = {};
                var licAryLength = 0;
                $('input[name="licence_number_input"]:checked').each(function(event) {
                    licAryLength += 1;
                    licAry[this.id] = this.value;
                 });
                if (licAryLength <= 0) return false;  // Do nothing if nothing select.
                
                var jsonLic = JSON.stringify(licAry);
                
                $custDlg.empty();
                $custDlg.load('{{ path('morus_fas_statement_customer_dialog')}}', 
                            { ACTION: comboboxValue, LICENCES: jsonLic }, function(data){}) 
                        .data('ACTION', comboboxValue)  // Pass selected licences to dialog
                        .dialog('open');
            });
            
            // Select all checkbox action
            $('input[id="{{ vec_select_all }}"]').change( function() {
                if (this.checked) {
                    $('input[name="licence_number_input"]').prop('checked', true);
                } else {
                    $('input[name="licence_number_input"]').prop('checked', false);
                }
            });
        });
        
        // Post Form and get result
        function postCustomerUpdateForm( action, $form, callback ){
            
            // Get all form values
            var values = {};
            $.each( $form.serializeArray(), function(i, field) {
              values[field.name] = field.value;
            });
            
            // Pass customer id / "NEW" action code to update
            values['ACTION'] = action;
            
            // Throw the form values to the server
            $.ajax({
                type        : $form.attr( 'method' ),
                url         : $form.attr( 'action' ),
                data        : values,
                success     : function(response) {
                    callback( jQuery.parseJSON(response) );
                }
            });
        }
        
        // Refresh Customer Select Box
        function refreshComboBox() {
            $custCombo.empty();
            $custCombo.append($("<option value='id' >name</option>")
                    .attr("value", 'NEW')
                    .text("{{ 'export_step.new_customer'|trans }}"));
            $.ajax({
                type        : "GET",
                url         : "{{ path('morus_fas_statement_customer_list') }}",
                success     : function(response) {
                    var data = jQuery.parseJSON(response); 
                    if (data.success) {
                        var units = data.units;
                        $.each(units, function(key, value){
                            $custCombo.append($("<option value='id' >name</option>")
                                .attr("value", key)
                                .text(value));
                        });
                    }
                }
            });
        }
        
        // Refresh Customer List
        function refreshCustomerVehicleList() { // Make Ajax Call to refresh Customer Vehicle List 
            var licences = {};
                
            {% for key, value in flow.stmtVec %}
            licences['{{ key }}'] = '{{ value }}';
            {% endfor %}

            var values = {};
            values['registration_numbers'] = licences;

            $.ajax({
                url         : "{{ path('morus_fas_statement_export_unit_vehicle_list')}}",
                type        : "GET",
                data        : values,
                success     : function(data) {
                    $('#{{ cust_vec_list_div }}').html(data);
                }
            });
            
            
        }
    {% elseif flow.getCurrentStepNumber() == 4 %}
        jQuery(document).ready(function() {
            $( "#{{ fas_sam_tab }}" ).tabs();
        });
    {% endif %}
    
    </script>
{% endblock %}

{% block body_title -%}
    {{ 'export_step.export_invoice'|trans }}
{% endblock %}

{% block body -%}
    
    <div>
        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
    </div>
    {{ form_start(export_form) }}
        {{ form_errors(export_form) }}        
        
        {% if flow.getCurrentStepNumber() == 1 %} {# Analysis Statement #}
            {{ 'export_step.station_discount_ignore_keywords'|trans }} {{ form_widget(export_form.ignoreKeywords) }}<br/>
            
            Total Product Discovered: {{ flow.stmtProd|length }}<br/>
            
            Total Vehicle Discovered: {{ flow.stmtVec|length }}<br/>
            
            Total record procssed: {{ flow.stmtRowCnt }} row.<br/>
            
            click next to continue.
            
            
            
        {% elseif flow.getCurrentStepNumber() == 2 %}  {# Query Product #}
            {# Listing Existing Unit with Vehicle Number #}
            <div id="{{ prod_list_div_id }}" style="float: left">
                {# Please see /Statement/export.product.list.html.twig #}
            </div> 

            {# Listing New Product #}
            <div id="{{ prod_new_div }}"  style="float: right">
                <h3>{{ 'export_step.new_product'|trans }}</h3>
                <table id="{{ prod_new_tbl_id }}">
                    {% for itemcode, itemname in flow.newProdList %}
                        <tr id="{{ loop.index }}">
                            <td>
                                {% image '@MorusFasBundle/Resources/public/images/new_icon.png' %}
                                    <img src="{{ asset_url }}" alt="OK" style="width: 25px"/>
                                {% endimage %}
                            </td>
                            <td>{{ itemname }}</td>
                            <td>
                                <button id="{{ prod_dlg_btn_id|replace({'%itemcode%' : itemcode, '%index%' : loop.index}) }}" name="{{ itemname }}"  />+</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% elseif flow.getCurrentStepNumber() == 3 %}  {# Query Licence #}
            {# Listing Existing Unit with Vehicle Number #}
            <div id="{{ cust_vec_list_div }}" style="float: left">
                {# layout see /Statement/export.customer.vehicle.list.html.twig #}
            </div> 
            
            {# Display New Vehicle Number #}
            <div style="float: right">
                {{ 'export_step.register_selected_vehicle_to'|trans }}
                <select id="{{ cust_combo }}" ></select>
                <button id="{{ vec_btn }}" >{{ 'btn.go'|trans }}</button>
                <br/>
                <input id="{{ vec_select_all }}" type="checkbox"/>{{ 'export_step.select_all'|trans }}
                <table>
                    {% for row in flow.newVecList|batch(5) %}
                        <tr>
                            {% for veccode, vecname in row %}
                            <td>
                                <input id="{{ veccode }}" name="licence_number_input" type="checkbox" value="{{ vecname }}" />{{ vecname }}
                            </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            <div>
            
            {# Update Customer Popup div #}
            <div id="{{ cust_dlg }}" title="{{ 'contact.update_customer'|trans }}" >
                {# layout see /Statement/customer.dialog.html.twig #}
            </div>
        {% elseif flow.getCurrentStepNumber() == 4 %}  {# Summary Step #}
            <div id="{{ fas_sam_tab }}">
                <ul>
                  <li><a href="#{{ tab_pl }}">{{ 'export_step.profit_and_loss'|trans }}</a></li>
                  <li><a href="#{{ tab_exp_dtl }}">{{ 'export_step.export_detail'|trans }}</a></li>
                </ul>
                <div id="{{ tab_pl }}"> {# Profit and Lost tab#}
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'pl.customer'|trans }}</th>
                                <th>{{ 'pl.licence_number'|trans }}</th>
                                <th></th>
                                <th>{{ 'pl.nett'|trans }}</th>
                                <th>{{ 'pl.receivable'|trans }}</th>
                                <th>{{ 'pl.pl'|trans }}</th>
                                <th>{{ 'pl.percentage'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set unitname = null %}
                            {% for ar in flow.ars %}
                                    <tr>
                                        <td>{{ ar.unit.name }}</td>

                                {% for vehicle in ar.unit.vehicles %}
                                    {% if unitname != ar.unit.name %}
                                        {% set unitname = ar.unit.name %}
                                        <td>{{ vehicle.registrationNumber }}</td>
                                    {% else %}
                                        <tr>
                                            <td></td>
                                            <td>{{ vehicle.registrationNumber }}</td>
                                    {% endif %}

                                    {% set net = 0 %}
                                    {% set rec = 0 %}
                                    {% set cnt = 0 %}
                                    {% set dis = 0 %}
                                    {% for invoice in ar.transaction.invoices %}
                                        {% if invoice.licence == vehicle.registrationNumber %}
                                            {% set cnt = cnt + 1 %}
                                            {% set dis = dis + invoice.selldiscount %}
                                            {% set net = net + ( invoice.qty * invoice.unitprice )%}
                                            {% set rec = rec + ( invoice.qty * (invoice.unitprice +  invoice.unitdiscount - invoice.selldiscount)) %}
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        {% set discount = dis / cnt %}
                                        {{ discount }}
                                    </td>
                                    <td>{{ net|number_format(2, '.', ',') }}</td>
                                    <td>{{ rec|number_format(2, '.', ',') }}</td>
                                    <td>{% set pl = rec - net %}
                                        {{ pl|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        {% set per = (pl / net) * 100 %}
                                        {{ per|number_format(2, '.', ',') }}%
                                    </td>
                                    </tr>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <div id="{{ tab_exp_dtl }}"> {# export detail tab#}
                    {% for ar in flow.ars %}
                        <h2>{{ ar.unit.name }}</h2>
                        {{ 'invoice.invnumber'|trans }} {{ ar.invnumber }} 
                        {{ 'invoice.transdate'|trans }} {{ ar.transdate|date('d/m/Y') }} <br/>
                        {# {{ 'invoice.duedate'|trans }} {{ ar.duedate|date('d/m/Y') }} #}
                        {% for vehicle in ar.unit.vehicles %}
                            <h4>{{ 'invoice.licence_number'|trans }}: {{ vehicle.registrationNumber }}</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>{{ 'invoice.date'|trans }}</th>
                                        <th>{{ 'invoice.time'|trans }}</th>
                                        <th>{{ 'invoice.site'|trans }}</th>
                                        <th>{{ 'invoice.receipt_number'|trans }}</th>
                                        <th>{{ 'invoice.product'|trans }}</th>
                                        <th>{{ 'invoice.qty'|trans }}</th>
                                        <th>{{ 'invoice.sell_price'|trans }}</th>
                                        <th>{{ 'invoice.sell_discount'|trans }}</th>
                                        <th>{{ 'invoice.net_price'|trans }}</th>
                                        <th>{{ 'invoice.total'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invoice in ar.transaction.invoices %}
                                        {% if invoice.licence == vehicle.registrationNumber %}
                                            <tr>
                                                <td>{{ invoice.transDate|date('d/m/Y') }}</td>
                                                <td>{{ invoice.transTime|date('H:i:s') }}</td>
                                                <td>{{ invoice.site }}</td>
                                                <td>{{ invoice.ReceiptNumber }}</td>
                                                <td>{{ invoice.description }}</td>
                                                <td>
                                                    {% set qty = invoice.qty|number_format(2, '.', ',') %}
                                                    {{ qty }}</td>
                                                <td>
                                                    {% set sellprice = invoice.sellprice|number_format(2, '.', ',') %}
                                                    {{ sellprice }}
                                                </td>
                                                <td>
                                                    {% set selldiscount = invoice.selldiscount|number_format(2, '.', ',') %}
                                                    {{ selldiscount }}
                                                </td>
                                                <td>
                                                    {% set netprice = sellprice - selldiscount %}
                                                    {{ netprice|number_format(2, '.', ',') }}
                                                </td>
                                                <td>
                                                    {% set total = qty *  netprice %}
                                                    {{ total|number_format(2, '.', ',') }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br/>
                        {% endfor %}
                        <br/><br/><br/>
                        <hr/>
                        <br/>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {{ form_rest(export_form) }}

        {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
    {{ form_end(export_form) }} 
    
    {#  New Product Popup #}
    <div id="{{ prod_dlg_div_id }}" title="{{ 'inventory.new_inventory_item'|trans }}" style="display:none">  
        {{ form_start(parts_form) }}
            {{ form_errors(parts_form) }}
            <input type="hidden" id="{{ prod_dlg_idx_id  }}" value="" />
            {{ 'inventory.itemcode'|trans }} {{ form_widget(parts_form.itemcode) }}{{ form_errors(parts_form.itemcode) }}
            {{ 'inventory.itemname'|trans }} {{ form_widget(parts_form.itemname) }} {{ form_errors(parts_form.itemname) }}
            <hr/>
            {{ 'inventory.othername'|trans }} {{ form_widget(parts_form.othername) }}
            
            {{ 'inventory.use_othername'|trans }} {{ form_widget(parts_form.useOthername) }}
            <br/>
            {{ 'inventory.default_discount'|trans }} {{ form_widget(parts_form.defaultDiscount) }}
            <br/>
            {{ form_widget( parts_form.submit ) }}
            {{ form_rest(parts_form) }}
        {{ form_end(parts_form) }}
    </div>
    
{% endblock %}
