{% extends '::base.html.twig' %}

{% set prod_dlg_btn_prfx = 'fas_inv_dlg_btn_' %}
{% set prod_dlg_btn_id = prod_dlg_btn_prfx ~ '%itemcode%_%index%' %}
{% set prod_dlg_idx_id = 'fas_inv_dlg_idx' %}
{% set prod_dlg_div_id = 'fas_inv_dlg_div' %}

{% set prod_new_div = 'fas_inv_new_div' %}
{% set prod_db_tbl_id = 'fas_inv_prod_db_tbl' %}
{% set prod_new_tbl_id = 'fas_inv_prod_new_tbl' %}

{% set vce_dlg_div_id = 'fas_vce_dlg_div' %}
{% set vce_dlg_tab_id = 'fas_vce_dlg_tab' %}

{% block stylesheets %}
    {% stylesheets 
        '@CraueFormFlowBundle/Resources/assets/css/buttons.css' 
        '@MorusFasBundle/Resources/public/css/jquery-ui.min.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts 
        '@MorusFasBundle/Resources/public/js/jquery-1.9.1.min.js'
        '@MorusFasBundle/Resources/public/js/jquery-ui.min.js'
        '@MorusFasBundle/Resources/public/js/jquery.inputmask.js'
        '@MorusFasBundle/Resources/public/js/jquery.inputmask.numeric.extensions.js'
    %}
        <script type="text/ecmascript" src="{{ asset_url }}">
        </script>
    {% endjavascripts %}

    <script type='text/javascript'>
        jQuery(document).ready(function() {
            $( "#{{ vce_dlg_tab_id }}" ).tabs();

            var newProdAry = [];
            
            // Loop New Product Table
            $('#{{ prod_new_tbl_id }} > tbody  > tr').each(function() {
                newProdAry.push(this.id);
            });
            
            // Init New Item Dialog Box
            $( "#{{ prod_dlg_div_id }}" ).dialog({
                autoOpen: false,
                height: 200,
                width: 500,
                modal: true,
                buttons: {
                    "{{ 'inventory.new.save'|trans }}": function() {
                        $('#{{ parts_form.vars.id }}').find(':submit').click();  // Trigger form submit button
                    },
                    "{{ 'inventory.new.cancel'|trans }}": function() {
                        $( "#{{ prod_dlg_div_id }}" ).dialog( "close" );
                    }
                },
                show: {
                    effect: "fade",
                    duration: 500
                },
                hide: {
                    effect: "fade",
                    duration: 500
                }
            });
            
            // Add New Item button
            $( 'button[id^="{{ prod_dlg_btn_prfx }}"]' ).on('click', function( event ){
                event.preventDefault();
                
                var index = this.id.substring(this.id.lastIndexOf('_') + 1);
                var itemcode = this.id.replace("{{ prod_dlg_btn_prfx }}","").replace('_' + index, "" );
                var itemname = this.name;
                $('#{{ parts_form.vars.id }}').find('#{{ prod_dlg_idx_id }}').val(index);
                $('#{{ parts_form.vars.id }}').find('#{{ parts_form.parts.itemcode.vars.id }}').val(itemcode);
                $('#{{ parts_form.vars.id }}').find('#{{ parts_form.parts.itemname.vars.id }}').val(itemname);
                $('#{{ parts_form.vars.id }}').find('#{{ parts_form.defaultDiscount.vars.id }}').val('');
                
                $( "#{{ prod_dlg_div_id }}" ).dialog( "open" );
            });
            
            // Init Dialog Box -> New item form submit action
            $('#{{ parts_form.vars.id }}').submit(function(event) {
                event.preventDefault();
                
                postForm( $(this), function( response ){
                    
                    if (response.success) {
                        var rIndex, rItemcode, rItemname, rDiscount;
                        rIndex = response.index;
                        rItemcode = response.itemcode;
                        rItemname = response.itemname;
                        rDiscount = response.discount;
                        updateProd(rIndex, rItemcode, rItemname, rDiscount);
                        $( "#{{ prod_dlg_div_id }}" ).dialog( "close" );
                    } else {
                        
                    }
                    
                });

                return false;
            }); 
            
            // Apply input mask to default discount box
            $('#{{ parts_form.defaultDiscount.vars.id }}').inputmask("decimal", { 
                radixPoint: ".", 
                groupSeparator: ",",
                groupSize: 3,
                digits: 2,
                autoGroup: true,
                placeholder: "0.00"
            });
            
            // Add New Row to Database Table
            function updateProd( index, itemcode, itemname, discount) {
                
                // Prepare Row and add to product table
               {% image '@MorusFasBundle/Resources/public/images/ok_icon.png' %}
                    var ok_icon_img = $("<img src='{{ asset_url }}' alt='OK' style='width: 15px'/>");
               {% endimage %}
               
                var jRow = $('<tr><td></td><td>' + itemcode + '</td><td>' + itemname + '</td><td>' + discount + '</td></tr>');
                $('td:last', jRow).append(ok_icon_img);
                $('#{{ prod_db_tbl_id }} tr:last').after(jRow);
                
                
                
                
                // Remove new product and update List 
                $( 'tr[id="' + index + '"]' ).remove();
                var i = newProdAry.indexOf(index);
                if ( i > -1 ) { newProdAry.splice(i, 1); }
                if ( newProdAry.length <= 0) {
                    $('div[id="{{ prod_new_div }}"]').remove();
                }
            }
            
            // Post Form and get result
            function postForm( $form, callback ){
                
                // Get all form values
                var values = {};
                var index = $form.find('#{{ prod_dlg_idx_id }}').val();
                values['index'] = index;
                $.each( $form.serializeArray(), function(i, field) {
                  values[field.name] = field.value;
                });

                // Throw the form values to the server
                $.ajax({
                    type        : $form.attr( 'method' ),
                    url         : $form.attr( 'action' ),
                    data        : values,
                    success     : function(response) {
                        callback( jQuery.parseJSON(response) );
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block body_title -%}
    {{ 'statement.export_invoice'|trans }}
{% endblock %}

{% block body -%}
    
    <div>
        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
    </div>
    {{ form_start(export_form) }}
        {{ form_errors(export_form) }}        
        {% if flow.getCurrentStepNumber() == 1 %}
            <h1>{{ 'export_step.search_result'|trans }}</h1>
            <hr/>
            
           <h3>{{ 'export_step.database_product'|trans }}</h3>
           <table id="{{ prod_db_tbl_id }}">
                <tr>
                    <th></th>
                    <th>{{ 'inventory.itemcode'|trans }}</th>
                    <th>{{ 'inventory.itemname'|trans }}</th>
                    <th>{{'inventory.default_discount'|trans }}</th>
                </tr>
                {# table body #}
                {% for prod in flow.prodList %}
                <tr>
                    <td>{{ prod.parts.itemcode }}</td>
                    <td>{{ prod.parts.itemname }}</td>
                    <td>${{ prod.defaultDiscount|number_format(2, '.', ',') }}</td>
                    <td>
                        {% image '@MorusFasBundle/Resources/public/images/ok_icon.png' %}
                            <img src="{{ asset_url }}" alt="OK" style="width: 15px"/>
                        {% endimage %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            
            <br/><br/>
            
            {# New Products section #}
            <div id="{{ prod_new_div }}">
                <h3>{{ 'export_step.new_product'|trans }}</h3>
                <table id="{{ prod_new_tbl_id }}">
                    {% for itemcode, itemname in flow.newProdList %}
                        <tr id="{{ loop.index }}">
                            <td>
                                {% image '@MorusFasBundle/Resources/public/images/new_icon.png' %}
                                    <img src="{{ asset_url }}" alt="OK" style="width: 25px"/>
                                {% endimage %}
                            </td>
                            <td>{{ itemname }}</td>
                            <td>
                                <button id="{{ prod_dlg_btn_id|replace({'%itemcode%' : itemcode, '%index%' : loop.index}) }}" name="{{ itemname }}"  />+</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% elseif flow.getCurrentStepNumber() == 2 %}
            
            <table>
                {% for vcecode, vcename in flow.newVceList %}
                    <tr id="{{ loop.index }}">
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>{{ vcename }}</td>
                        <td>
                            
                        </td>
                    </tr>
                {% endfor %}
            </table>
            
            
        {% endif %}

        {{ form_rest(export_form) }}

        {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
    {{ form_end(export_form) }} 
    
    {#  New Product Popup #}
    <div id="{{ prod_dlg_div_id }}" title="{{ 'inventory.new.new_inventory_item'|trans }}" style="display:none">  
        {{ form_start(parts_form) }}
            {{ form_errors(parts_form) }}
            <input type="hidden" id="{{ prod_dlg_idx_id  }}" value="" />
            {{ 'inventory.itemcode'|trans }} {{ form_widget(parts_form.parts.itemcode) }}{{ form_errors(parts_form.parts.itemcode) }}
            {{ 'inventory.itemname'|trans }} {{ form_widget(parts_form.parts.itemname) }} {{ form_errors(parts_form.parts.itemname) }}
            <hr/>
            {{ 'inventory.default_discount'|trans }} {{ form_widget(parts_form.defaultDiscount) }}
            <br/>
            {{ form_widget( parts_form.submit ) }}
            {{ form_rest(parts_form) }}
        {{ form_end(parts_form) }}
    </div>
       
    <div id="{{ vce_dlg_div_id }}}">
        
    </div>

{% endblock %}
