{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts 
        '@MorusFasBundle/Resources/public/js/jquery-1.9.1.min.js'
    %}
        <script type="text/ecmascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type='text/javascript'>
        {% if flow.getCurrentStepNumber() == 1 %}
        var $splitDateTimeInput;
        var $datetimeDiv;
        var $date_timeDiv;
        jQuery(document).ready(function() {
            $splitDateTimeInput = $('#{{ form.splitDateTime.vars.id }}');
            $datetimeDiv = $('#datetime_div');
            $date_timeDiv = $('#date_time_div');
            
            // Handle Split Datetime action
            $splitDateTimeInput.change(function() {
                if( $(this).is(":checked")) {
                    splitDateTime(false);
                } else {
                    splitDateTime(true);
                }
             });
             
             // Init 
             if( $splitDateTimeInput.prop("checked")) {
                 splitDateTime(false);
             } else {
                 splitDateTime(true);
             }
        });
        
        function splitDateTime(splitDateTime) {
            if (splitDateTime == true ) {
                $('#datetime_div').show();
                $('#date_time_div').hide();
            } else {
                $('#datetime_div').hide();
                $('#date_time_div').show();
            }
        }
        {% endif %}
    </script>
{% endblock %}

{% block body_title -%}
    {{ 'statement.upload_new_statement'|trans }}
{% endblock %}

{% block body -%}
    <div>
        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
    </div>
    {{ form_start(form) }}
        {{ form_errors(form) }}        
        {% if flow.getCurrentStepNumber() == 1 %}
            {{ 'statement.separate_date_time_column'|trans }} {{ form_widget(form.splitDateTime) }}
            <div id="datetime_div">
            {{ 'statement.date_time_format'|trans }} {{ form_widget(form.datetimeFormat) }} <br/>
            {{ 'statement.date_time_help'|trans }}
            </div>
            <div id="date_time_div">
            {{ 'statement.date_format'|trans }} {{ form_widget(form.dateFormat) }}
            {{ 'statement.time_format'|trans }} {{ form_widget(form.timeFormat) }} <br/>
            {{ 'statement.date_time_help'|trans }}
            </div>
            
            
            <br/>
            {{ 'statement.supplier'|trans }} {{ form_widget(form.unit) }} {{ form_errors(form.unit) }}<br/>
            {{ 'statement.remark'|trans }} {{ form_widget(form.name) }} {{ form_errors(form.name) }}<br/>
            {{ 'statement.file'|trans }} {{ form_widget(form.file) }} {{ form_errors(form.file) }}<br/>
        {% elseif flow.getCurrentStepNumber() == 2 %}
            <div>
                <h1>{{ 'statement.pairing_header'|trans }}</h1>
                <br />
                {{ 'statement.headers.card_number'|trans }} {{ form_widget(form.cardNumberHeader) }} {{ form_errors(form.cardNumberHeader) }}<br/>
                {{ 'statement.headers.licence_number'|trans }} {{ form_widget(form.licenceNumberHeader) }} {{ form_errors(form.licenceNumberHeader) }}<br/>
                {{ 'statement.headers.site'|trans }} {{ form_widget(form.siteHeader) }} {{ form_errors(form.siteHeader) }}<br/>
                {{ 'statement.headers.receipt_number'|trans }} {{ form_widget(form.receiptNumberHeader) }} {{ form_errors(form.receiptNumberHeader) }}<br/>
                {% if (flow.isSplitDateTime == true ) %}
                    {{ 'statement.headers.transaction_date'|trans }} {{ form_widget(form.transactionDateHeader) }} {{ form_errors(form.transactionDateHeader) }}<br/>
                    {{ 'statement.headers.transaction_time'|trans }} {{ form_widget(form.transactionTimeHeader) }} {{ form_errors(form.transactionTimeHeader) }}<br/>
                {% else %}
                    {{ 'statement.headers.transaction_datetime'|trans }} {{ form_widget(form.transactionDatetimeHeader) }} {{ form_errors(form.transactionDatetimeHeader) }}<br/>
                {% endif %}
                {{ 'statement.headers.product_name'|trans }} {{ form_widget(form.productNameHeader) }} {{ form_errors(form.productNameHeader) }}<br/>
                {{ 'statement.headers.unit_discount'|trans }} {{ form_widget(form.unitDiscountHeader) }} {{ form_errors(form.unitDiscountHeader) }}<br/>
                {{ 'statement.headers.volume'|trans }} {{ form_widget(form.volumeHeader) }} {{ form_errors(form.volumeHeader) }}<br/>
                {{ 'statement.headers.unit_price'|trans }} {{ form_widget(form.unitPriceHeader) }} {{ form_errors(form.unitPriceHeader) }}<br/>
                {{ 'statement.headers.net_amount'|trans }} {{ form_widget(form.netAmountHeader) }} {{ form_errors(form.netAmountHeader) }}<br/>
            </div>
            
        {% elseif flow.getCurrentStepNumber() == 3 %}
            {# Display Error #}
            {% if not flow.hasError %} 
                {% image '@MorusFasBundle/Resources/public/images/ok_icon.png' %}
                    <img src="{{ asset_url }}" alt="ok" style="width: 200px"/>
                {% endimage %}
                <br/>
                {{ 'statement.msg.statement_valid'|trans }}<br/>
            {% else %} {#  Display Error #}
                {{ 'statement.msg.statement_error'|trans }}<br/>
                {% image '@MorusFasBundle/Resources/public/images/magnifying_24x24.png' %}
                    <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> {{ 'statement.msg.invalid_format'|trans }}
                {% endimage %}
                <br/>
                {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                    <img src="{{ asset_url }}" alt="format error" style="width: 16px"/> {{ 'statement.msg.missing_data'|trans }}
                {% endimage %}
                <table>
                    <thead>
                        <tr>
                            <th>Row</th>
                            <th>{{ 'statement.headers.card_number'|trans }}</th>
                            <th>{{ 'statement.headers.licence_number'|trans }}</th>
                            <th>{{ 'statement.headers.site'|trans }}</th>
                            <th>{{ 'statement.headers.receipt_number'|trans }}</th>
                            {% if flow.isSplitDateTime %}
                                <th>{{ 'statement.headers.transaction_date'|trans }}</th>
                                <th>{{ 'statement.headers.transaction_time'|trans }}</th>
                            {% else %}
                                <th>{{ 'statement.headers.transaction_datetime'|trans }}</th>
                            {% endif %}
                            <th>{{ 'statement.headers.product_name'|trans }}</th>
                            <th>{{ 'statement.headers.unit_discount'|trans }}</th>
                            <th>{{ 'statement.headers.volume'|trans }}</th>
                            <th>{{ 'statement.headers.unit_price'|trans }}</th>
                            <th>{{ 'statement.headers.net_amount'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for errorLog in flow.errorLogs %}
                        <tr>
                            <td>{{ errorLog.row }}</td>
                            <td>
                                {% if errorLog.nullCardNumber %}
                                    {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                    {% endimage %}
                                {% else %}
                                    {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                    {% endimage %}
                                {% endif %}
                            </td>
                            <td>
                                {% if errorLog.nullLicenceNumber %}
                                    {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                    {% endimage %}
                                {% else %}
                                    {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                    {% endimage %}
                                {% endif %}
                            </td>
                            <td>
                                {% if errorLog.nullSite %}
                                    {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                    {% endimage %}
                                {% else %}
                                    {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                    {% endimage %}
                                {% endif %}
                            </td>
                            <td>
                                {% if errorLog.nullReceiptNumber %}
                                    {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                    {% endimage %}
                                {% else %}
                                    {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                    {% endimage %}
                                {% endif %}
                            </td>
                            {% if flow.isSplitDateTime %}
                                <td>
                                    {% if errorLog.nullTransactionDate %}
                                        {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                        {% endimage %}
                                    {% else %}
                                        {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                        {% endimage %}
                                    {% endif %}
                                    
                                    {% if errorLog.invalidTransactionDate %}
                                        {% image '@MorusFasBundle/Resources/public/images/magnifying_24x24.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                        {% endimage %}
                                    {% else %}
                                        {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                        {% endimage %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if errorLog.nullTransactionTime %}
                                        {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                        {% endimage %}
                                    {% else %}
                                        {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                        {% endimage %}
                                    {% endif %}
                                    
                                    {% if errorLog.invalidTransactionTime %}
                                        {% image '@MorusFasBundle/Resources/public/images/magnifying_24x24.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                        {% endimage %}
                                    {% else %}
                                        {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                        {% endimage %}
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>
                                    {% if errorLog.nullTransactionDateTime %}
                                        {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                        {% endimage %}
                                    {% else %}
                                        {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                        {% endimage %}
                                    {% endif %}
                                    
                                    {% if errorLog.invalidTransactionDateTime %}
                                        {% image '@MorusFasBundle/Resources/public/images/magnifying_24x24.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                        {% endimage %}
                                    {% else %}
                                        {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                            <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                        {% endimage %}
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>
                                {% if errorLog.nullProductName %}
                                    {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                    {% endimage %}
                                {% else %}
                                    {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                    {% endimage %}
                                {% endif %}
                            </td>
                            <td>
                                {% if errorLog.nullUnitDiscount %}
                                    {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                    {% endimage %}
                                {% else %}
                                    {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                    {% endimage %}
                                {% endif %}
                            </td>
                            <td>
                                {% if errorLog.nullVolume %}
                                    {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                    {% endimage %}
                                {% else %}
                                    {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                    {% endimage %}
                                {% endif %}
                            </td>
                            <td>
                                {% if errorLog.nullUnitPrice %}
                                    {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                    {% endimage %}
                                {% else %}
                                    {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                    {% endimage %}
                                {% endif %}
                            </td>
                            <td>
                                {% if errorLog.nullNetAmount %}
                                    {% image '@MorusFasBundle/Resources/public/images/caution_26x26.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/>
                                    {% endimage %}
                                {% else %}
                                    {% image '@MorusFasBundle/Resources/public/images/valid_icon_32x32.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 16px"/> 
                                    {% endimage %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {{ 'statement.msg.total_row_processed'|trans({ '%row' : flow.totalProcessedCount }) }}
            
        {% endif %}

        {{ form_rest(form) }}

        {% set renderBackButton = flow.getFirstStepNumber() < flow.getLastStepNumber() and flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
        <div class="craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
                {%- set isLastStep = flow.getCurrentStepNumber() == flow.getLastStepNumber() -%}
                {%- set craue_formflow_button_class_last = craue_formflow_button_class_last | default('craue_formflow_button_last') -%}
                {%- set craue_formflow_button_class_last = isLastStep
                                ? craue_formflow_button_class_finish | default(craue_formflow_button_class_last)
                                : craue_formflow_button_class_next | default(craue_formflow_button_class_last)
                        -%}
                {% if not flow.hasError %}
                <button type="submit" class="{{ craue_formflow_button_class_last }}">
                        {{- (isLastStep ? 'button.finish' : 'button.next') | trans({}, 'CraueFormFlowBundle') -}}
                </button>
                {% endif %}

                {% if renderBackButton %}
                        <button type="submit" class="{{ craue_formflow_button_class_back | default('') }}" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
                                {{- 'button.back' | trans({}, 'CraueFormFlowBundle') -}}
                        </button>
                {% endif %}

                <button type="submit" class="{{ craue_formflow_button_class_reset | default('craue_formflow_button_first') }}" name="{{ flow.getFormTransitionKey() }}" value="reset" formnovalidate="formnovalidate">
                        {{- 'button.reset' | trans({}, 'CraueFormFlowBundle') -}}
                </button>
        </div>
    {{ form_end(form) }}
{% endblock %}
