{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts 
        '@MorusFasBundle/Resources/public/js/jquery-1.9.1.min.js'
    %}
        <script type="text/ecmascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type='text/javascript'>
        {% if flow.getCurrentStepNumber() == 1 %}
        var $splitDateTimeInput;
        var $datetimeDiv;
        var $date_timeDiv;
        jQuery(document).ready(function() {
            $splitDateTimeInput = $('#{{ form.splitDateTime.vars.id }}');
            $datetimeDiv = $('#datetime_div');
            $date_timeDiv = $('#date_time_div');
            
            // Handle Split Datetime action
            $splitDateTimeInput.change(function() {
                if( $(this).is(":checked")) {
                    splitDateTime(false);
                } else {
                    splitDateTime(true);
                }
             });
             
             // Init 
             if( $splitDateTimeInput.prop("checked")) {
                 splitDateTime(false);
             } else {
                 splitDateTime(true);
             }
        });
        
        function splitDateTime(splitDateTime) {
            if (splitDateTime == true ) {
                $('#datetime_div').show();
                $('#date_time_div').hide();
            } else {
                $('#datetime_div').hide();
                $('#date_time_div').show();
            }
        }
        {% endif %}
    </script>
{% endblock %}

{% block body_title -%}
    {{ 'statement.upload_new_statement'|trans }}
{% endblock %}

{% block body -%}
    <div class="fas-step-control three-steps">
        {% include 'MorusFasBundle:Statement:FormFlow/stepList.html.twig' %}
    </div>
    
    <div id="container-box" class="">
        <div class="section-form inset fas-step-form">
            {{ form_start(form) }}
                {{ form_errors(form) }}        
                
                {% if flow.getCurrentStepNumber() == 1 %}
                    <h4 class="first">{{ 'statement.date_time'|trans }}</h4>
                    <fieldset>
                        {{ 'statement.separate_date_time_column'|trans }} {{ form_widget(form.splitDateTime) }}
                        <div id="datetime_div">
                        {{ 'statement.date_time_format'|trans }} {{ form_widget(form.datetimeFormat) }} <br/>
                        <span class="notes">{{ 'statement.date_time_help'|trans }}</span>
                        </div>
                        <div id="date_time_div">
                        {{ 'statement.date_format'|trans }} {{ form_widget(form.dateFormat) }}
                        {{ 'statement.time_format'|trans }} {{ form_widget(form.timeFormat) }} <br/>
                        {{ 'statement.date_time_help'|trans }}
                        </div>
                    </fieldset>


                    <h4 class="fas-step-subtitle">{{ 'statement.supplier'|trans }}</h4>
                    <fieldset>{{ form_widget(form.unit) }} {{ form_errors(form.unit) }}</fieldset>

                    <h4 class="fas-step-subtitle">{{ 'statement.remark'|trans }}</h4>
                    <fieldset>{{ form_widget(form.name) }} {{ form_errors(form.name) }}</fieldset>

                    <h4 class="fas-step-subtitle">{{ 'statement.file'|trans }}</h4>
                    <p>{{ 'statement.file_note'|trans }}:{{ form_widget(form.file) }} {{ form_errors(form.file) }}<br/>
                    <span class="notes">{{ 'statement.file_note_format'|trans }}</span></p>

                {% elseif flow.getCurrentStepNumber() == 2 %}
                    
                    <h4 class="first">{{ 'statement.pairing_header'|trans }}</h4>
                    <table>
                        <tr>
                            <td style="width:80px;">{{ 'statement.headers.card_number'|trans }}</td>
                            <td>{{ form_widget(form.cardNumberHeader) }} {{ form_errors(form.cardNumberHeader) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'statement.headers.licence_number'|trans }}</td>
                            <td>{{ form_widget(form.licenceNumberHeader) }} {{ form_errors(form.licenceNumberHeader) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'statement.headers.site'|trans }}</td>
                            <td>{{ form_widget(form.siteHeader) }} {{ form_errors(form.siteHeader) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'statement.headers.receipt_number'|trans }}</td>
                            <td>{{ form_widget(form.receiptNumberHeader) }} {{ form_errors(form.receiptNumberHeader) }}</td>
                        </tr>
                        {% if (flow.isSplitDateTime == true ) %}
                        <tr>
                            <td>{{ 'statement.headers.transaction_date'|trans }}</td>
                            <td>{{ form_widget(form.transactionDateHeader) }} {{ form_errors(form.transactionDateHeader) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'statement.headers.transaction_time'|trans }}</td>
                            <td>{{ form_widget(form.transactionTimeHeader) }} {{ form_errors(form.transactionTimeHeader) }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>{{ 'statement.headers.transaction_datetime'|trans }}</td>
                            <td>{{ form_widget(form.transactionDatetimeHeader) }} {{ form_errors(form.transactionDatetimeHeader) }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>{{ 'statement.headers.product_name'|trans }}</td>
                            <td>{{ form_widget(form.productNameHeader) }} {{ form_errors(form.productNameHeader) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'statement.headers.unit_discount'|trans }}</td>
                            <td>{{ form_widget(form.unitDiscountHeader) }} {{ form_errors(form.unitDiscountHeader) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'statement.headers.volume'|trans }}</td>
                            <td>{{ form_widget(form.volumeHeader) }} {{ form_errors(form.volumeHeader) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'statement.headers.unit_price'|trans }}</td>
                            <td>{{ form_widget(form.unitPriceHeader) }} {{ form_errors(form.unitPriceHeader) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'statement.headers.net_amount'|trans }}</td>
                            <td>{{ form_widget(form.netAmountHeader) }} {{ form_errors(form.netAmountHeader) }}</td>
                        </tr>
                    </table>
                    

                {% elseif flow.getCurrentStepNumber() == 3 %}
                    {# Display Error #}
                    <div class="fas-steplist-result">
                    {% if not flow.hasError %} 
                        <br/>
                        <h3 style="margin-top: 50px;">{{ 'statement.msg.statement_valid'|trans }}</h3>
                        <h5>{{ 'statement.msg.total_row_processed'|trans({ '%row' : flow.totalProcessedCount }) }}</h5>
                        {% image '@MorusFasBundle/Resources/public/images/ok_icon.png' %}
                            <br><img src="{{ asset_url }}" alt="ok" style="width: 100px"/>
                        {% endimage %}
                    {% else %} {#  Display Error #}
                        <br/>
                        <h3 style="border-bottom:1px solid #fff;padding-bottom: 15px;">{{ 'statement.msg.statement_error'|trans }}</h3>
                        <h5>{{ 'statement.msg.total_row_processed'|trans({ '%row' : flow.totalProcessedCount }) }}</h5>
                        <table>
                            <tr>
                                <td>
                                    {% image '@MorusFasBundle/Resources/public/images/icon-alert.png' %}
                                        <img src="{{ asset_url }}" alt="no data found" style="width: 30px;"/>
                                    {% endimage %}
                                </td>
                                <td style="text-align: left;padding-right: 20px;"><span style=" font-size: 18px; color: orange; line-height: 38px;">{{ 'statement.msg.invalid_format'|trans }}</span></td>
                                <td>
                                    {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                        <img src="{{ asset_url }}" alt="format error" style="width: 35px;"/>
                                    {% endimage %}
                                </td>
                                <td style="text-align: left;"><span style=" font-size: 18px; color: red; line-height: 38px;">{{ 'statement.msg.missing_data'|trans }}</span></td>
                            </tr>
                        </table>
                        
                        <br/>
                        
                        
                        <table class="fas-error-table">
                            <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>{{ 'statement.headers.card_number'|trans }}</th>
                                    <th>{{ 'statement.headers.licence_number'|trans }}</th>
                                    <th>{{ 'statement.headers.site'|trans }}</th>
                                    <th>{{ 'statement.headers.receipt_number'|trans }}</th>
                                    {% if flow.isSplitDateTime %}
                                        <th>{{ 'statement.headers.transaction_date'|trans }}</th>
                                        <th>{{ 'statement.headers.transaction_time'|trans }}</th>
                                    {% else %}
                                        <th>{{ 'statement.headers.transaction_datetime'|trans }}</th>
                                    {% endif %}
                                    <th>{{ 'statement.headers.product_name'|trans }}</th>
                                    <th>{{ 'statement.headers.unit_discount'|trans }}</th>
                                    <th>{{ 'statement.headers.volume'|trans }}</th>
                                    <th>{{ 'statement.headers.unit_price'|trans }}</th>
                                    <th>{{ 'statement.headers.net_amount'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for errorLog in flow.errorLogs %}
                                <tr>
                                    <td>{{ errorLog.row }}</td>
                                    <td>
                                        {% if errorLog.nullCardNumber %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                            {% endimage %}
                                        {% else %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                            {% endimage %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if errorLog.nullLicenceNumber %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                            {% endimage %}
                                        {% else %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                            {% endimage %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if errorLog.nullSite %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                            {% endimage %}
                                        {% else %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                            {% endimage %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if errorLog.nullReceiptNumber %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                            {% endimage %}
                                        {% else %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                            {% endimage %}
                                        {% endif %}
                                    </td>
                                    {% if flow.isSplitDateTime %}
                                        <td>
                                            {% if errorLog.nullTransactionDate %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                                {% endimage %}
                                            {% else %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                                {% endimage %}
                                            {% endif %}

                                            {% if errorLog.invalidTransactionDate %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-alert.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 22px"/>
                                                {% endimage %}
                                            {% else %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                                {% endimage %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if errorLog.nullTransactionTime %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                                {% endimage %}
                                            {% else %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                                {% endimage %}
                                            {% endif %}

                                            {% if errorLog.invalidTransactionTime %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-alert.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 22px"/>
                                                {% endimage %}
                                            {% else %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                                {% endimage %}
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        <td>
                                            {% if errorLog.nullTransactionDateTime %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                                {% endimage %}
                                            {% else %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                                {% endimage %}
                                            {% endif %}

                                            {% if errorLog.invalidTransactionDateTime %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-alert.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 22px"/>
                                                {% endimage %}
                                            {% else %}
                                                {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                    <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                                {% endimage %}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {% if errorLog.nullProductName %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                            {% endimage %}
                                        {% else %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                            {% endimage %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if errorLog.nullUnitDiscount %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                            {% endimage %}
                                        {% else %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                            {% endimage %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if errorLog.nullVolume %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                            {% endimage %}
                                        {% else %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                            {% endimage %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if errorLog.nullUnitPrice %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                            {% endimage %}
                                        {% else %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                            {% endimage %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if errorLog.nullNetAmount %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-error.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/>
                                            {% endimage %}
                                        {% else %}
                                            {% image '@MorusFasBundle/Resources/public/images/icon-tick.png' %}
                                                <img src="{{ asset_url }}" alt="no data found" style="width: 25px"/> 
                                            {% endimage %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    
                    </div>

                {% endif %}

                {{ form_rest(form) }}

                {% set renderBackButton = flow.getFirstStepNumber() < flow.getLastStepNumber() and flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
                <div class="fas-steplist-control-bottom craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
                        {%- set isLastStep = flow.getCurrentStepNumber() == flow.getLastStepNumber() -%}
                        {%- set craue_formflow_button_class_last = craue_formflow_button_class_last | default('craue_formflow_button_last') -%}
                        {%- set craue_formflow_button_class_last = isLastStep
                                        ? craue_formflow_button_class_finish | default(craue_formflow_button_class_last)
                                        : craue_formflow_button_class_next | default(craue_formflow_button_class_last)
                                -%}
                        {% if not flow.hasError %}
                        <button type="submit" class="{{ craue_formflow_button_class_last }} green-btn">
                                {{- (isLastStep ? 'button.finish' : 'button.next') | trans({}, 'CraueFormFlowBundle') -}}
                        </button>
                        {% endif %}

                        {% if renderBackButton %}
                                <button type="submit" class="{{ craue_formflow_button_class_back | default('') }} grey-btn" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
                                        {{- 'button.back' | trans({}, 'CraueFormFlowBundle') -}}
                                </button>
                        {% endif %}

                        <button type="submit" class="{{ craue_formflow_button_class_reset | default('craue_formflow_button_first') }} grey-btn" name="{{ flow.getFormTransitionKey() }}" value="reset" formnovalidate="formnovalidate">
                                {{- 'button.reset' | trans({}, 'CraueFormFlowBundle') -}}
                        </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
