{% extends '::base.html.twig' %}

{% form_theme edit_form 'MorusAcceticBundle:Contacts:layout.html.twig' %}

{% block javascripts %}
    {% javascripts '@MorusAcceticBundle/Resources/public/js/jquery-1.9.1.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type='text/javascript'>
        $(document).ready( function() {
            $('.btn-add').click(function(event) {
                var collectionHolder = $('#' + $(this).attr('data-target'));
                var prototype = collectionHolder.attr('data-prototype-persons');
                var form = prototype.replace(/__name__/g, collectionHolder.children().length);
                
                var contactCollectionHolder = $('#' + $(this).attr('contact-data-target'));
                var contactPrototype = contactCollectionHolder.attr('data-prototype-contacts');
                var contactForm = contactPrototype.replace(/__name__/g, contactCollectionHolder.children().length);
                
                var $person = $('<div>').html(form);
  
                $person.find('a').before(contactForm);
                collectionHolder.append($person);
                
                return false;
            });
            
            $('body').on('click', 'a.btn-remove', function() {
                var name = $(this).attr('data-related');
                $('*[data-content="'+name+'"]').remove();

                return false;
            });
        });
    </script>
{% endblock javascripts %}

{% macro contacts_prototype(widget) %}
    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}


    {{ form_widget(form) }}

{% endmacro %}

{% macro persons_prototype(widget) %}
    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div data-content="{{ name }}">
        {{ form_widget(form) }}
        <a href="#" class="btn-remove" data-related="{{ name }}">{{ 'contact.remove'|trans }}</a>
    </div>
{% endmacro %}

{% block body_title -%}
    {{ 'contact.edit_contact'|trans }}
{% endblock %}

{% block body %}
    <div id="container-box" class="contact-edit">
        
        <div class="section-header">
            <h3>{{ 'contact.contact_information'|trans }}</h3>
        </div>
    
        <div class="section-form inset form">

            {{ form_start(edit_form) }}
            
            <h4 class="first">{{ 'contact.edit_contact'|trans }}</h4>
            <fieldset>
                <div class="field long">
                    <label>{{ 'contact.display_name'|trans }}</label>
                    {{ form_errors(edit_form) }}
                    {{ form_widget(edit_form.name) }} {{ form_errors(edit_form.name) }}
                </div>
            </fieldset>

            <div id="entity_persons" data-prototype-persons="{{ _self.persons_prototype(edit_form.persons, 'Remove Person')|escape }}">
                {% for person in edit_form.persons %}
                    {% if loop.index == 1 %}
                        <h4>{{ 'contact.primary_person'|trans }}</h4>
                    {% endif %}
                    <div id="entity_person_contacts" data-prototype-contacts="{{ _self.contacts_prototype(person.contacts, 'Remove Email')|escape }}">
                        <fieldset>
                            {{ form_widget(person) }}
                            {% for contact in person.contacts %}
                                <div class="field inline long">{{ form_widget(contact) }}</div>
                            {% endfor %}
                        </fieldset>
                    </div>
                {% endfor %}
            </div>

            {# <a href="#" class="btn-add" data-target="entity_persons" contact-data-target="entity_person_contacts" >{{ 'contact.add_another_person'|trans }}</a> #}

            <h4>{{ 'contact.contact_details'|trans }}</h4>

            <div class="column">

                {% for location in edit_form.locations %}
                    {{ form_widget(location) }}
                {% endfor %}

                <div class="col-1-3 last">
                    <fieldset id="numbers">
                        <h6>{{ 'contact.others'|trans }}</h6>
                        {% for contact in edit_form.contacts %}
                            <div class="field">{{ form_widget(contact) }}</div>
                        {% endfor %}
                    </fieldset>
                </div>

            </div>

            {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}

        </div>
    </div>    
        
    
    
{% endblock %}
