<table id="contact-list" class="contact records_list">
    <thead>
        <tr>
            <th class="left">{{ 'contact.display_name'|trans }}</th>
            <th class="left">{{ 'contact.vehicle_list'|trans }}</th> 
            <th class="left">{{ 'contact.product_discount'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        <tr>
            <td class="left"><a href="{{ path('morus_fas_contacts_show', { 'id': contact.id }) }}">{{ contact.name }}</a></td>
            <td class="left">  
                {% for vehicle in contact.vehicles %}
                    {% if loop.index != 1 %} , {% endif %}
                    {{ vehicle.registrationNumber }} 
                {% endfor %}
            </td>
            <td class="left">
                {% for unitProduct in contact.unitProducts %}
                    {% if loop.index != 1 %} , {% endif %}
                        {{ unitProduct.product.itemname}}({{ unitProduct.discount }})
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>