{% extends '::base.html.twig' %}

{% block body_title -%}
    {{ 'ar.invoices'|trans }}
{% endblock %}

{% block body -%}
    <div class="fullwidth-space"></div>
    
    <table class="records_list ar">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th></th>
                <th{% if pagination.isSorted('ar.invnumber') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'ar.number'|trans, 'ar.invnumber') }}</th>
                <th{% if pagination.isSorted('ar.reference') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'ar.reference'|trans, 'ar.invnumber') }}</th>
                <th{% if pagination.isSorted('ar.unitName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'ar.to'|trans, 'ar.invnumber') }}</th>
                <th{% if pagination.isSorted('ar.transdate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'ar.date'|trans, 'ar.invnumber') }}</th>
                <th{% if pagination.isSorted('ar.duedate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'ar.due_date'|trans, 'ar.invnumber') }}</th>
                <th{% if pagination.isSorted('ar.total') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'invoice.amount'|trans, 'ar.invnumber') }}</th>
                <th{% if pagination.isSorted('ar.emailed') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'ar.sent'|trans, 'ar.invnumber') }}</th>
            </tr>
        </thead>
        <tbody>
        {# table body #}
        {% for ar in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>
                <a id="fas_inv_print"  href="{{ path('morus_fas_ar_print', {'id': ar.id}) }}">
                    {{ 'btn.print'|trans }}
                </a>
                <a id="fas_inv_print"  href="{{ path('morus_fas_ar_print_no_px', {'id': ar.id}) }}">
                    {{ 'btn.without_unit_px'|trans }}
                </a>
                    <br/><div style="font-size: 10px; line-height: 10px; color: grey;">{% if ar.lastprintdate is not null %}({{ ar.lastprintdate|date("d/m/y H:i") }}){% endif %}</div>
            </td>
            <td><a href="{{ path('morus_fas_ar_edit', { 'id': ar.id }) }}">{{ ar.invnumber }}</a></td>
            <td>{{ ar.reference }}</td>
            <td>{{ ar.unitName }}</td>
            <td>{% if ar.transdate %}{{ ar.transdate|date('d/m/Y') }}{% endif %}</td>
            <td>{% if ar.duedate %}{{ ar.duedate|date('d/m/Y') }}{% endif %}</td>
            <td class="right">${{ ar.total|number_format(2, '.', ',') }}</td>
            <td class="center">{% if ar.emailed %}OK{% else %}No{% endif %}</td>
        </tr>
    {% endfor %}
    </table>
    
    {# display navigation #}
    <div class="navigation">
        {{ 'invoice.page'|trans }}: {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
