{% extends '::base.html.twig' %}

{% block body_title -%}
    {{ 'ar.invoices'|trans }}
{% endblock %}

{% block body -%}
                    
    <div class="fullwidth-space"></div>
    
    <table class="records_list ar">
        <thead>
            <tr>
                <th></th>
                <th>{{ ('ar.number' |trans)}}</th>
                <th>{{ ('ar.reference' |trans)}}</th>
                <th>{{ ('ar.to' |trans)}}</th>
                <th>{{ ('ar.date' |trans)}}</th>
                <th>{{ ('ar.due_date' |trans)}}</th>
                <th>{{ ('invoice.amount' |trans)}}</th>
                <th>{{ ('ar.sent' |trans)}}</th>
            </tr>
        </thead>
        <tbody>
        {% for ar in ars %}
            <tr>
                <td>
                    <a id="fas_inv_print"  class="loading-btn" href="{{ path('morus_fas_ar_print', {'id': ar.id}) }}">
                        {% image '@MorusAcceticBundle/Resources/public/images/icons-pack.png' %}
                        <em class="icons add icon" style="background:url('{{ asset_url }}') no-repeat;background-position:-172px -16px;background-size:260px;" ></em>
                        {% endimage %}
                    </a>
                </td>
                <td><a href="{{ path('morus_fas_ar_edit', { 'id': ar.id }) }}">{{ ar.invnumber }}</a></td>
                <td>{{ ar.reference }}</td>
                <td>{{ ar.to }}</td>
                <td>{% if ar.transdate %}{{ ar.transdate|date('d/m/Y') }}{% endif %}</td>
                <td>{% if ar.duedate %}{{ ar.duedate|date('d/m/Y') }}{% endif %}</td>
                <td>${{ ar.amount|number_format(2, '.', ',') }}</td>
                <td>{% if ar.emailed %}OK{% else %}No{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
