<pdf>
    <dynamic-page>
        <placeholders>
            <header>
                <div height="1px" >

                </div>
            </header>
            <footer>
                
                <div height="25px">
                    <div class="single-line" border.type="bottom" height="2px" margin="5px 0px 5px 0px"/>
                    <div>
                    <div class="remark" float="left" font-type="PMingLiU">{{ 'invoice.remark'|trans }}:{{ 'invoice.discount_exclude'|trans }}</div>
                    <div class="thank-you" float="left" margin="0px 0px 0px 120px" font-type="PMingLiU" text-align="center">{{ 'invoice.thank_you'|trans }}!</div>
                    <div class="page-number" float="right" font-type="PMingLiU" ><page-info format=" %s / %s {{ 'invoice.page'|trans }}" /></div>
                    </div>
                </div>
            </footer>
        </placeholders>
        
        
        
        <div class="doc">
            <div class="title">
                <div class="company-chi-name">
                    {{ 'sunnyday'|trans }}
                    
                </div>
                <div class="company-eng-name">
                    {{ 'sunnydayeng'|trans }}
                </div>
                <div class="company-address">
                    P.O. Box No.1563 Yuen Long Post Office
                </div>
                <div class="company-email">sunnydaymotorsltd@yahoo.com.hk</div>
                <div class="company-tel">{{ 'invoice.tel'|trans }}：90901108</div>
            </div>
        
            <div class="double-line"></div>
            
            <!-- Customer Section -->
            <div class="customer-info" >
                <div class="customer-name">{{ ar.unit.name }}</div>
                <div class="customer-address">{{ postal.address|nl2br }}</div>
                <div class="customer-contact">{{ postal.attention }}</div>
            </div>
            <div class="invoice-info" >
                <div class="invoice-info-line">
                    <div class="invoice-info-content" >{{ ar.invnumber }}</div>
                    <div class="invoice-info-label">{{ 'invoice.invnumber'|trans }}：</div>
                </div>
                
                <div class="invoice-info-line">
                    <div class="invoice-info-content" >{{ ar.duedate|date('d/m/Y') }}</div>
                    <div class="invoice-info-label">{{ 'invoice.duedate'|trans}}：</div>
                    <div class="invoice-info-content" >{{ ar.transdate|date('d/m/Y') }}</div>
                    <div class="invoice-info-label">{{ 'invoice.invoice_date'|trans}}：</div>
                </div>
                
                <div class="double-line"></div>
                
                <div class="invoice-info-line" >
                    <div class="invoice-info-content" >{{ ar.enddate|date('d/m/Y') }}</div>
                    <div class="invoice-info-label">{{ 'invoice.invoice_date_to'|trans }}：</div>
                    <div class="invoice-info-content" >{{ ar.startdate|date('d/m/Y') }}</div>
                    <div class="invoice-info-label">{{ 'invoice.invoice_date_from'|trans }}：</div>
                </div>
                
                <div class="invoice-info-line" >
                    <div class="invoice-info-content" ></div>
                    <div class="invoice-info-label"></div>
                    <div class="invoice-info-content" ><page-info format="%2$s {{ 'invoice.page'|trans }}" /></div>
                    <div class="invoice-info-label">{{ 'invoice.page_total'|trans }}：</div>
                </div>
                
                <div class="double-line"></div>
                
                <div class="invoice-info-line" >
                    <div class="invoice-info-content" >{{ ar.unit.accountNumber }}</div>
                    <div class="invoice-info-label">{{ 'invoice.customer_number'|trans }}：</div>
                    <div class="invoice-info-content" >{% if ar.banktransferdate is not null %} {{ ar.banktransferdate|date('d/m/Y') }} {% endif %}</div>
                    <div class="invoice-info-label">{{ 'invoice.bank_transfer_date'|trans }}：</div>
                </div>
                
                <div class="double-line"></div>
            </div>
            
            <div class="double-line"></div>
            
            <div class="doc-text" text-align="center" font-type="PMingLiU" font-size="10px" margin="5px 0px 8px 0px">
                {{ 'invoice.invoice_detail_total'|trans }}
            </div>
            
            <div>	
                <table class="invoice-header-table">
                    <tr>
                        <td class="col1" >{{ 'invoice.date'|trans }}</td>
                        <td class="col2" >{{ 'invoice.time'|trans }}</td>
                        <td class="col3" >{{ 'invoice.site'|trans }}</td>
                        <td class="col4" >{{ 'invoice.receipt_number'|trans }}</td>
                        <td class="col5" >{{ 'invoice.product'|trans }}</td>
                        <td class="col6" >{{ 'invoice.qty'|trans }}</td>
                        {% if px == true %} 
                        <td class="col7" >{{ 'invoice.sellprice'|trans }}</td>
                        {% endif %}
                        <td class="col8" >{{ 'invoice.netprice'|trans }}</td>
                        <td class="col9" >{{ 'invoice.total'|trans }}</td>
                    </tr>
                </table>
            </div>
            
            {% for vehicle in vehicles %}
                
                <div breakable="false">
                    <div class="space"/>
                    <table class="invoice-vehcile-table">
                        <tr>
                            <td class="col1" >{{ 'invoice.registration_number'|trans }}: </td>
                            <td class="col2" >{{ vehicle }}</td>
                            <td class="col3" ></td>
                            <td class="col4" ></td>
                            <td class="col5" >Sub Total:</td>
                            <td class="col6" >
                                {% for registrationNumber, qty_subtotal in qty_subtotals %}
                                    {% if registrationNumber == vehicle %}
                                        {{ qty_subtotal|number_format(2, '.', ',') }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% if px == true %} 
                            <td class="col7" ></td>
                            {% endif %}
                            <td class="col8" ></td>
                            <td class="col9" >
                                {% for registrationNumber, amount_subtotal in amount_subtotals %}
                                    {% if registrationNumber == vehicle %}
                                        {{ amount_subtotal|number_format(2, '.', ',') }}
                                    {% endif %}
                                {% endfor %}
                                
                            </td>
                        </tr>
                    </table>
                    {% for invoice in ar.transaction.invoices %}
                        {% if invoice.licence == vehicle %}
                            <table class="invoice-detail-table">
                                <tr>
                                    <td class="col1" >{{ invoice.transDate|date('d/m/Y') }}</td>
                                    <td class="col2" >{{ invoice.transTime|date('H:i:s') }}</td>
                                    <td class="col3" >{{ invoice.site }}</td>
                                    <td class="col4" >{{ invoice.receiptNumber }}</td>
                                    <td class="col5" >{{ invoice.description }}</td>
                                    <td class="col6" >
                                        {% set qty = invoice.qty|number_format(2, '.', ',') %}
                                        {{ qty }}
                                    </td>
                                    {% set sellprice = invoice.sellprice|number_format(2, '.', ',') %}
                                    {% if px == true %} 
                                    <td class="col7" >
                                        {{ sellprice }}
                                    </td>
                                    {% endif %}
                                    <td class="col8" >
                                        {% set netprice = sellprice - invoice.selldiscount %}
                                        {{ netprice|number_format(2, '.', ',') }}
                                    </td>
                                    <td class="col9" >
                                        {% set total = qty *  netprice %}
                                        {{ total|number_format(2, '.', ',') }}  
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            
            <div class="space"/>
            
            <table class="invoice-total-table" >
                <tr>
                    <td class="col1" ></td>
                    <td class="col2" ></td>
                    <td class="col3" ></td>
                    <td class="col4" ></td>
                    <td class="col5" >Total</td>
                    <td class="col6" >{{ qty_total }}</td>
                    {% if px == true %} 
                    <td class="col7" ></td>
                    {% endif %}
                    <td class="col8" ></td>
                    <td class="col9" >{{ amount_total }}</td>
                </tr>
            </table>
        </div>
        
    </dynamic-page>
</pdf>