<pdf>
    <dynamic-page>
        <div class="doc">
            <div class="title">
                <div class="company-chi-name">
                    {{ 'sunnyday'|trans }}
                </div>
                <div class="company-eng-name">
                    {{ 'sunnydayeng'|trans }}
                </div>
                <div class="company-address">
                    P.O. Box No.1563 Yuen Long Post Office
                </div>
                <div>sunnydaymotorsltd@yahoo.com.hk</div>
                <div>{{ 'invoice.tel'|trans }}：90901108</div>
            </div>
            
            <div class="double-line"></div>
            
            <!-- Customer Section -->
            <div class="customer-info" >
                <div class="customer-name">{{ ar.unit.name }}</div>
                <div class="customer-address">{{ postal.address|nl2br }}</div>
                <div class="customer-contact">{{ postal.attention }}</div>
            </div>
            <div class="invoice-info" >
                <div class="invoice-info-line" >{{ 'invoice.invnumber'|trans }}：{{ ar.invnumber }}</div>
                <div class="invoice-info-line" >{{ 'invoice.invoice_date'|trans}}：{{ ar.transdate|date('d/m/Y') }}</div>
                <div class="double-line"></div>
                <div class="invoice-info-line" >
                    {{ 'invoice.invoice_date_from'|trans }} {{ ar.startdate|date('d/m/y') }} {{ 'invoice.invoice_date_to'|trans }} {{ ar.enddate|date('d/m/y') }}
                </div>
                <div class="invoice-info-line" >
                    {{ 'invoice.page_total'|trans }}：<page-info format="%s" />
                </div>
                <div class="double-line"></div>
                <div class="invoice-info-line" >
                    <div margin="0px 35px 0px 0px" float="right">{{ 'invoice.customer_number'|trans }}：</div> 
                    <div margin="0px 35px 0px 0px" float="right">{{ 'invoice.bank_transfer_date'|trans }}：</div>
                    
                </div>
            </div>
            
            <div class="double-line"></div>
            
            <div class="doc-text" text-align="center" font-type="新細明體" font-size="10px" margin="5px 0px 8px 0px">
                {{ 'invoice.invoice_detail_total'|trans }}
            </div>
            
            <div>	
                <table class="invoice-header-table">
                    <tr>
                        <td class="col1" >{{ 'invoice.date'|trans }}</td>
                        <td class="col2" >{{ 'invoice.time'|trans }}</td>
                        <td class="col3" >{{ 'invoice.site'|trans }}</td>
                        <td class="col4" >{{ 'invoice.receipt_number'|trans }}</td>
                        <td class="col5" >{{ 'invoice.product'|trans }}</td>
                        <td class="col6" >{{ 'invoice.qty'|trans }}</td>
                        <td class="col7" >{{ 'invoice.sellprice'|trans }}</td>
                        <td class="col8" >{{ 'invoice.netprice'|trans }}</td>
                        <td class="col9" >{{ 'invoice.total'|trans }}</td>
                    </tr>
                </table>
            </div>
            
            {% for vehicle in ar.unit.vehicles %}
                
                <div breakable="false">
                    <div class="space"/>
                    <table class="invoice-vehcile-table">
                        <tr>
                            <td class="col1" >{{ 'invoice.registration_number'|trans }}: </td>
                            <td class="col2" >{{ vehicle.registrationNumber }}</td>
                            <td class="col3" ></td>
                            <td class="col4" ></td>
                            <td class="col5" >Sub Total:</td>
                            <td class="col6" >
                                {% for registrationNumber, qty_subtotal in qty_subtotals %}
                                    {% if registrationNumber == vehicle.registrationNumber %}
                                        {{ qty_subtotal }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="col7" ></td>
                            <td class="col8" ></td>
                            <td class="col9" >
                                {% for registrationNumber, amount_subtotal in amount_subtotals %}
                                    {% if registrationNumber == vehicle.registrationNumber %}
                                        {{ amount_subtotal }}
                                    {% endif %}
                                {% endfor %}
                                
                            </td>
                        </tr>
                    </table>
                    {% for invoice in ar.transaction.invoices %}
                        {% if invoice.licence == vehicle.registrationNumber %}
                            <table class="invoice-detail-table">
                                <tr>
                                    <td class="col1" >{{ invoice.transDate|date('d/m/Y') }}</td>
                                    <td class="col2" >{{ invoice.transTime|date('H:i:s') }}</td>
                                    <td class="col3" >{{ invoice.site }}</td>
                                    <td class="col4" >{{ invoice.receiptNumber }}</td>
                                    <td class="col5" >{{ invoice.description }}</td>
                                    <td class="col6" >
                                        {% set qty = invoice.qty|number_format(2, '.', ',') %}
                                        {{ qty }}
                                    </td>
                                    <td class="col7" >
                                        {% set sellprice = invoice.sellprice|number_format(2, '.', ',') %}
                                        {{ sellprice }}
                                    </td>
                                    <td class="col8" >
                                        {% set netprice = sellprice - invoice.selldiscount %}
                                        {{ netprice|number_format(2, '.', ',') }}
                                    </td>
                                    <td class="col9" >
                                        {% set total = qty *  netprice %}
                                        {{ total|number_format(2, '.', ',') }}  
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            <table class="invoice-total-table" >
                <tr>
                    <td class="col1" ></td>
                    <td class="col2" ></td>
                    <td class="col3" ></td>
                    <td class="col4" ></td>
                    <td class="col5" >Total</td>
                    <td class="col6" >{{ qty_total }}</td>
                    <td class="col7" ></td>
                    <td class="col8" ></td>
                    <td class="col9" >{{ amount_total }}</td>
                </tr>
            </table>
            
            <div class="space"/>
            <div class="remark" >{{ 'invoice.remark'|trans }}:</div>
            <div class="remark" >{{ 'invoice.discount_exclude'|trans }}</div>
            <div class="thank-you" >{{ 'invoice.thank_you'|trans }}!</div>
        </div>
        
    </dynamic-page>
</pdf>