<pdf>
    <dynamic-page>
        <div class="doc">
            <div class="title">
                <div class="company-chi-name">
                    {{ 'sunnyday'|trans }}
                </div>
                <div class="company-eng-name">
                    {{ 'sunnydayeng'|trans }}
                </div>
                <div class="company-address">
                    P.O. Box No.1563 Yuen Long Post Office
                </div>
                <div>sunnydaymotorsltd@yahoo.com.hk</div>
                <div>{{ 'invoice.tel'|trans }}：90901108</div>
            </div>
            
            <div class="double-line"></div>
            
            <!-- Customer Section -->
            <div class="customer-info">
                <div class="customer-name">{{ ar.unit.name }}</div>
                <div class="customer-address">{{ postal.address|nl2br }}</div>
                <div class="customer-contact">{{ postal.attention }}</div>
            </div>
            <div class="invoice-info" >
                <div class="invoice-info-line" >{{ 'invoice.invnumber'|trans }}：{{ ar.invnumber }}</div>
                <div class="invoice-info-line" >{{ 'invoice.invoice_date'|trans}}：{{ ar.transdate|date('d/m/Y') }}</div>
                <div class="double-line"></div>
                <div class="invoice-info-line" >
                    {{ 'invoice.invoice_date_from'|trans }} {{ ar.startdate|date('d/m/y') }} {{ 'invoice.invoice_date_to'|trans }} {{ ar.enddate|date('d/m/y') }}
                </div>
                <div class="invoice-info-line" >
                    {{ 'invoice.page_total'|trans }}：<page-info format="%s" />
                </div>
                <div class="double-line"></div>
                <div class="invoice-info-line" >
                    <div margin="0px 35px 0px 0px" float="right">{{ 'invoice.customer_number'|trans }}：</div> 
                    <div margin="0px 35px 0px 0px" float="right">{{ 'invoice.bank_transfer_date'|trans }}：</div>
                    
                </div>
            </div>
            
            <div class="double-line"></div>
            <div text-align="center" font-type="新細明體" font-size="10px">柴油及汽油月結單詳細交易報告</div>
            
            					
                <table class="invoice-details">
                    <tr class="invoice-header">
                        <td>日期</td>
                        <td>時間</td>
                        <td>油站名稱</td>
                        <td>收據號碼</td>
                        <td>貨品</td>
                        <td>數量 (L)</td>
                        <td>每公升油價</td>
                        <td>每公升淨價</td>
                        <td>總額 HK$</td>
                    </tr>
                    {% for vehicle in ar.unit.vehicles %}
                    <tr>
                        <td>{{ 'invoice.registration_number'|trans }}: </td>
                        <td>{{ vehicle.registrationNumber }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                        {% for invoice in ar.transaction.invoices %}

                            {% if invoice.licence == vehicle.registrationNumber %}
                                <tr>
                                    <td>{{ invoice.transDate|date('d/m/Y') }}</td>
                                    <td>{{ invoice.transTime|date('H:i:s') }}</td>
                                    <td>{{ invoice.site }}</td>
                                    <td>{{ invoice.receiptNumber }}</td>
                                    <td>{{ invoice.description }}</td>
                                    <td>
                                        {% set qty = invoice.qty|number_format(2, '.', ',') %}
                                        {{ qty }}
                                    </td>
                                    <td>
                                        {% set sellprice = invoice.sellprice|number_format(2, '.', ',') %}
                                        {{ sellprice }}
                                    </td>
                                    <td>
                                        {% set netprice = sellprice - invoice.selldiscount %}
                                        {{ netprice|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        {% set total = qty *  netprice %}
                                        {{ total|number_format(2, '.', ',') }}  
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
                
        </div>
    </dynamic-page>
</pdf>