{% block fas_invoice_widget %}
    {% spaceless %}
        <tr id="{{ form.vars.id }}" class="test">
            <td class="left">{{ form_widget(form.licence)}}</td>
            <td class="left">{{ form_widget(form.transDate)}}</td>
            <td class="left">{{ form_widget(form.transTime)}}</td>
            <td class="left">{{ form_widget(form.site)}}</td>
            <td class="left">{{ form_widget(form.receiptNumber)}}</td>
            <td class="left non-textable">{{ form_widget(form.parts)}}</td>
            <td class="left">{{ form_widget(form.description)}}</td>
            <td class="right">{{ form_widget(form.qty) }}</td>
            <td class="right">{{ form_widget(form.sellprice)}}</td>
            <td class="right">{{ form_widget(form.selldiscount)}}</td>
            <td class="right non-textable"><label id="{{ form.vars.id }}_netprice"></label></td>
            <td class="right non-textable"><label id="{{ form.vars.id }}_netamount"></label></td>
            <td class="center non-textable"></td>
        </tr>
    {% endspaceless %}
{% endblock fas_invoice_widget %}